# =============================================================================
# Falcon Robot - Git Ignore
# =============================================================================

# ============================ PROTECTION =====================================
*.ino

# ============================ DEBUG FILES ====================================
*.elf

# ======================== IDE & SYSTEM FILES =================================
# Windows
Thumbs.db
Desktop.ini

# macOS
.DS_Store
._*

